[tool.ruff]
line-length = 88

[tool.ruff.lint]
# E: pycodestyle errors
# F: Pyflakes
# I: isort (Import sorting)
select = ["E", "F", "I"]
ignore = []

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"